@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5dd;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/* .blog-text ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  margin: 10px 0;
} */

.blog-text ol {
  list-style: decimal;
  padding-left: 40px;
  margin: 30px 0;
}

.blog-text ul {
  padding-left: 40px;
  margin: 30px 0;
}

.blog-text ol li,
.blog-text ul li {
  margin: 10px 0;
}

.blog-text pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.blog-text h1 {
  font-size: 35px;
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
  font-size: 27px;
}

.bg-hover:hover {
  background: rgba(97, 39, 83, 0.1);
}

.text-blue-600 {
  color: #4785ea;
}
.text-green-600 {
  color: #85bb65;
}
.text-purple-600 {
  color: #7730db;
}
.text-red-600 {
  color: #e14444;
}
.text-orange-600 {
  color: #c7720a;
}

.bg-blue-600 {
  background-color: #4785ea;
}
.bg-green-600 {
  background-color: #85bb65;
}
.bg-purple-600 {
  background-color: #7730db;
}
.bg-red-600 {
  background: #e14444;
}
.bg-orange-600 {
  background: #c7720a;
}

.m-auto {
  margin: auto;
}
